@charset "ISO-8859-1";


.top{
	background-image: url("../images/header-light.jpg");
	height: 150px;
}
.top a{
	text-decoration: none;
	font-size: 20px;
	justify-content: space-between;
	margin-left: 10px;
	position:relative;
	top:55px;
	background-color: gray;
	color: white;
	border-radius: 10px;
}
.top a:hover {
	background-color:purple;
	font-size: 30px;
}
