@charset "ISO-8859-1";

.container{
	height: 600px;
	overflow: scroll;
	
}
.container::-webkit-scrollbar{
display: none;
align-self: flex-end;

}
table {
	width: 100%;
	text-align: center;
	
}
caption {
	background-color:#ebe8fc;
}